body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body > h3 {
  color: red;
}
.metodo__end {
  display: flex;
  gap: 30px;
}
.container > div > h2 {
  color: rgb(39, 204, 39);
  text-transform: uppercase;
}
